<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Map Widget </title>
    <script src="/scripts/require.js" data-main="/scripts/main" ></script>
  </head>

  <body>
    <header class="main-container main-header">
      <h1><img src="/images/pin.png"/>iLocate [<%=Rails.env.camelcase%>]</h1>
    </header>
    <section id="app" class="main-container">
      <header class="title body-header">
        <h1>Deals Near by</h1>
      </header>
      <section class="deals-container">
        <section id="deals">
          <ul id="deal-list"></ul>
        </section>
        <section id="map-canvas">
          <em class="default-msg">Find all near by deals!</em>
          <img src="/images/map_without_address.png" id="map-without-address" class="hidden"/>
          <img src="/images/map_with_address.png" id="map-with-address" class="hidden"/>
        </section>
      </section>
    </section>

    <script type="text/template" id="deal-template">
      <article id="deal-details" class="deal-details">
        <header>
          <h4 id="deal-name" class="deal-name"></h4>
        </header>
        <p id="business-name" class="business-name" style=""></p>
        <footer>
          <a href="#" id="show-details" class="show-details">Show Details</a>
        </footer>
      </article>
    </script>

  </body>

</html>
