// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  width: 800px;
  margin: 0 auto;
  background: #E6E6E6;               
}
ul {
   margin:0;
   padding:0;
}
header.main-header {
  padding: 18px 0px;
}
header.main-header h1 {
  text-align:center;
  font-size: 3em;
  font-style: italic;  
  color: #0040FF;

  text-shadow: #08298A 1px 2px 2px;
}
header.main-header h1 img {
  width: 50px;                   
}
.deals-container {
  padding: 24px 0px;
  position:relative;
  min-height:320px;
}
.body-header h1 {
   font-size:2.4em;         
   padding: 18px 0px 0px 18px;
}
.deal-details {
   margin-left:12px;
   margin-bottom:12px;
   padding: 24px;
   text-align:center;
   background: #CCC;

   -webkit-box-shadow: #AAA 0px 5px 7px;
   -moz-box-shadow: #AAA 0px 5px 7px;
   box-shadow: #AAA 0px 5px 7px;

   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
.deal-name {
   margin:0;
   padding:0;
   font-size:1.2em;         
   font-style: helvetica, arial, sans-serif;
}
.show-details {
   padding: 6px;
   background: #EEE;
   text-decoration: none;

   -webkit-box-shadow: #333 1px 3px 6px;
   -moz-box-shadow: #333 1px 3px 6px;
   box-shadow: #333 1px 3px 6px;

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
#deals {
   width:48%;    
}
#map-canvas {
   width: 380px;
   height: 300px;
   position:absolute;
   top: 18px;
   right: 18px;
     
   -webkit-box-shadow: #AAA 0px 0px 10px;
   -moz-box-shadow: #AAA 0px 0px 10px;
   box-shadow: #AAA 0px 0px 10px;
}
#map-canvas em.default-msg {
   display:block;
   text-align: center;
   margin-top: 140px;
}
.business-name{
  font: 1em;
  font-weight:bold;
}
.hidden {
   display: none;
}
